body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    margin: 20px;
    padding: 10px;
}

body > header{
    display: flex;
    
}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

#head-grid{
    grid-area: logo;
    display:flex;
    width: 50%;
    padding: 5px;
    justify-content: left;
    align-items: center;
}


.buttons{
    grid-area: buttons;
    display:flex;
    width: 50%;
    justify-items: right;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}


.buttons1 {
    width: 25%;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

select {
    width: 310px;
    height: 25px;
}

#main-grid1 {   
    display:grid;
    padding: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
    "did-you-know-img did-you-know ."
    "race refresh"
    "footer footer";
}

#popsicle-rainbow {
    width: 100%;
}


#popsicle-race{
    grid-area: race;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
    
   
}
#get-refreshed{
    grid-area:refresh;
    display:grid;
    align-items: center;
    justify-content: right;
    text-align: center;

}
#advertisments{
    display:flex;
    align-items: center;
    column-gap:10px;
    grid-auto-rows:1fr;
    grid-auto-columns: 1fr 1fr;
}


form{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    row-gap: 20px;
    width: 300;
}

input[type="color"]{
    width:310px;
}
input[type="text"]{
    width:305px;
}
.block {
    display: block;
    width: 250px;
   
}
.resizedTextbox{
    position: relative;
    min-width: 310px;
    width: 30%;
    height: 150px;
    border: 1px, black;
    overflow: auto;    
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.submit {
    border: 0px;
    min-width: 200px;
    max-width: 300px;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    body header{
        display: grid;
        grid-template-rows: 2fr;
        grid-template-areas:  
        "logo-title"
        "button"
        ;
    }

    #main-grid1 {   
        display:grid;
        row-gap: 10px;
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "did-you-know-img"
        "did-you-know"
        ;
    }

    #did-you-know-img {
        display: flex;
    }

    #did-you-know {
        display: flex;
    }

    #head-grid {
        display: flex;
        grid-area: logo-title;
        width:100%;
    }

    #buttons {
        display: flex;
        grid-area: button;
        padding-bottom: 10px;
        width: 100%;
        margin: 0px;
        align-items: stretch;
    }
    
    #form {
        grid-area: form;
    }
    
    footer {
        grid-area: footer;
    }
    #advertisments{
        display: grid;
        grid-template-areas:
        "race"
        "refresh"
    }
    #get-refreshed{
        grid-area:refresh;
        
    }
     #popsicle-race{
        grid-area: race;
        
    }
   
}

